 * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background: url('lapangan_CPO.jpeg') no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            margin: 0;
            align-items: center;
        }

        /* Navbar styling */
        .navbar {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: pink;
            position: relative;
            color: white;
            padding: 10px 20px;
            z-index: 999;
            background-color: #f9f9f9;
            margin-top: 0%;
        }

        .navbar-right {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        .navbar-menu {
            display: flex;
            list-style: none;
            margin: 0;
            gap: -10px;
        }

        .menu-item {
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        .logo-cpo {
            width: auto;
            height: 40px;
            margin-left: 40px;
            margin-right: 4%;
        }

        /* Sidebar styling */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: #5E0708;
            color: white;
            padding: 20px;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            z-index: 1000;
            box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            text-decoration: none;
            gap: 10px;
            justify-content: flex-start;
        }

        .sidebar.open {
            transform: translateX(0);
        }

        .sidebar .menu-item {
            padding: 15px 10px;
            background: rgba(237, 226, 226, 0.1);
            border-radius: 4px;
            transition: background 0.3s, transform 0.2s;
            text-align: left;
            text-decoration: none;
            margin: 5px 0;
            list-style: none;
            color: white;
            width: 220px;
            margin-left: -5px;
        }

        .sidebar .menu-item a {
            text-decoration: none;
            color: #fff;
            display: block;
        }


        .sidebar .menu-item:hover {
            background: rgba(255, 255, 255, 0.3);
            transform: scale(1.05);
        }

        .close-button {
            background: none;
            border: none;
            font-size: 24px;
            color: white;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        /* Overlay styling */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 500;
        }

        .overlay.show {
            display: block;
        }

        .menu-button {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            display: block;
            color: black;
            margin-left: 3%;
        }

        /* sidebar */
        @media (min-width: 768px) {
            .sidebar {
                display: none;
            }

            .menu-button {
                display: none;
            }

        }

        /* hide menu */
        @media (max-width: 767px) {
            .navbar-menu {
                display: none;
            }
        }

        nav ul li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: black;
            padding: 8px 0;
            transition: all;
            transition-duration: 300ms;
            border-bottom: 1px solid rgba(220, 20, 60, 0);
        }

        nav ul li a:hover {
            color: crimson;
            border-bottom: 1px solid crimson;
        }


        /* Dropdown Menu untuk Navbar Kecil */
        @media screen and (max-width: 768px) {
            nav ul {
                display: none;
            }

            nav.active ul {
                display: block;
                background-color: white;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
            }
        }

        /* Navbar */
        @media screen and (max-width: 768px) {
            .navbar {
                width: 100%;
                margin-top: 0%;
                padding: 0px 5px;
            }

            .container {
                width: 100%;
                padding: 15px;
            }

            .navbar-right {
                display: none;
            }

            .profile-pic {
                width: 35px;
                height: 35px;
            }

            .menu-button i {
                font-size: 1.2rem;
            }

            .close-button i {
                font-size: 1rem;
            }

            .logo-cpo {
                display: none;
            }
        }


        .nota {
            background: white;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            text-align: center;
            border: 1px solid #800000;
        }

        h3 {
            text-align: center;
            color: #600000;
        }

        .qrcode {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 20px auto;
        }

        .container {
            padding: 25px;
            border-radius: 12px;
            text-align: center;
            width: 400px;
            max-width: 100%;
            display: none;
            margin: 20px auto;
        }

        .container h2 {
            color: #600000;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 768px) {
            .container {
                width: 95%;
                padding: 10px;
            }
        }

        #qrcode {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            padding: 10px;
            border: 1px dashed #600000;
            border-radius: 8px;
            background: #f9f9f9;
        }

        .qrcode canvas {
            max-width: 120px;
            max-height: 120px;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        button {
            background: #600000;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            transition: 0.3s;
            margin: 5px;
        }

        .button-container button:hover {
            background: #800000;
        }

        /* Tombol Lanjut */
        .next-container {
            margin-top: 20px;
            text-align: center;
        }

        .next-container a {
            text-decoration: none;
        }

        .next-button {
            display: inline-block;
            background: #008000;
            color: white;
            padding: 12px 20px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: bold;
            transition: 0.3s;
            margin-bottom: 2rem;
        }

        .next-button:hover {
            background: #006400;
        }

        #whatsapp-button {
            position: fixed;
            /* Membuat tombol tetap di posisi yang ditentukan */
            bottom: 20px;
            /* Jarak dari bawah */
            right: 20px;
            /* Jarak dari kanan */
            z-index: 1000;
            /* Pastikan tombol berada di atas konten lain */
        }

        #whatsapp-button img {
            width: 60px;
            /* Ukuran gambar tombol */
            height: 60px;
            /* Ukuran gambar tombol */
            border-radius: 50%;
            /* Membuat tombol berbentuk lingkaran */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            /* Menambahkan efek bayangan */
            transition: transform 0.3s ease;
            /* Animasi saat hover */
        }

        #whatsapp-button:hover img {
            transform: scale(1.1);
            /* Menambahkan efek pembesaran saat hover */
        }

        /* footer */
        .footer {
            background-color: #5e0708;
            padding: 70px 0;
        }

        .footer-container {
            max-width: 1170px;
            margin: auto;
        }

        .row {
            display: flex;
            flex-wrap: warp;
        }

        .footer-col {
            width: 25%;
            padding: 0 15px;
        }

        .footer-col h3 {
            font-size: 18px;
            color: white;
            text-transform: capitalize;
            margin-bottom: 30px;
        }

        .footer-col p {
            font-size: 18px;
            color: white;
            text-transform: capitalize;
            margin: 30px;
        }

        .footer-col a {
            font-size: 18px;
            color: white;
            text-decoration: none;
        }

        .footer-col ul li:not(:last-child) {
            margin-bottom: 10px;
        }

        .footer-col ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

        .footer-col .social-links a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
        }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

        .footer-col iframe {
            border-radius: 10px;
        }

        .footer-bottom {
            justify-content: center;
            align-items: center;
            display: flex;
        }

        ul {
            list-style: none;
        }


        /* Footer Responsif */
        @media screen and (max-width: 768px) {
            .footer-col {
                width: 100%;
                margin-bottom: 40px;
            }

            .row {
                flex-direction: column;
                align-items: center;
            }

            .footer-col iframe {
                width: 200px;
                height: auto;
            }
        }

        @media screen and (max-width: 480px) {
            .footer-col {
                width: 100%;
            }

            .footer-col p {
                margin: 20px 0;
            }

            .footer {
                padding: 40px 0;
            }

            .row {
                flex-direction: column;
                align-items: center;
            }

            .footer-col iframe {
                width: 200px;
                height: auto;
            }
        }